
<nav>
  <ul>
    <li><a routerLink="/demo/home">Home</a></li>
    <li><a routerLink="/demo/bindings">Bindings</a></li>
    <li><a routerLink="/demo/pipes">Pipes</a></li>
    <li><a routerLink="/demo/directives">Directives</a></li>
    <li><a routerLink="/demo/input-output">Input-Output</a></li>
    <li><a routerLink="/demo/service">Service</a></li>
    <li><a routerLink="/demo/login">Login</a></li>
    <li><a routerLink="/demo/forms">Forms</a></li>
    <li><a routerLink="/demo/observables">Observable</a></li>
    <li><a routerLink="/demo/http-client">HTTP Client</a></li>

  </ul>
</nav>

<router-outlet></router-outlet>

<div class="space">

</div>
